<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header('Ads index')"></head>

<body>
<nav th:replace="fragments/navbar :: navbar-partial"></nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Showing all the ads:</h1>
            <div th:each="ad : ${ads}">
                <h3>
                    <span th:text="${ad.title}"></span>
                </h3>
                <p th:text="${ad.description}"></p>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/footer :: footer-partial"></footer>

</body>
</html>