<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header('Ads form')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar-partial"></nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <h1>new ad</h1>
            <form action="/ads/create" method="post" th:object="${ad}">
                Title:
                <input th:field="*{title}" />
                <br />
                Description:
                <input th:field="*{description}" />

                <input type="hidden" name="issunny" value="false" />

                <br />
                <input type="submit" />
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer-partial"></footer>
</body>
</html>